/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body {
    background: linear-gradient(135deg, #e0e7ff, #f0f4ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Title */
h2 {
    margin-bottom: 10px;
    color: #333;
}

/* Subtitle */
.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

/* Input */
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #4f46e5;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #3730a3;
}

/* Result box */
#resultBox {
    margin-top: 20px;
    padding: 15px;
    background: #f9fafb;
    border-radius: 10px;
}

/* Result text */
#result {
    font-size: 15px;
    color: #333;
}